.phpunit.result.cache
.DS_Store
vendor/
tests/.env

# PHPStan cache
.phpstan/

# Coverage
coverage/

# Codeception
tests/_output/*
!tests/_output/.gitkeep
tests/_support/_generated/
tests/_craft/storage/